.first-header{
    background: linear-gradient(to right, #208B59, #38976B, #208B59);
    padding: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.first-header h1 a{
    color: #FFF;
    font-size: 1.5em;
    font-weight: 200;
}